.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-self: center;
}
.card-home{
    width: 300px;
    padding: 10px ;
}
#imgid{
    background-color: white;
}
.row{
    padding: 2px;
    justify-content: center;
}
.card-title{
    color:#007bff;
}
.btnClose{
  text-align: right;
}
.card-img-top{
  
        width: 250px;
        height: auto;
        border-radius: 10%;
        transition-duration: 1s;
    
}

.card-img-top:hover{
        transform: scaleX(-1);
        transition-duration: 1s;
}

@media screen and (max-width: 400px) {
    .cards {
      flex-direction: column;
    }
  }

  p {
      color:white
  }
  h3 {
      color:white;
  }
#container1 {
    align-items: center;
    justify-content: center;
    justify-self: center;
}