#logo {
    text-align: left;
    cursor: pointer;

}
#img{
    width:auto;
    height: 100px;
    
}


a {
    color: rgb(149, 179, 189);
}
.navbar{
    display: flex;
    flex-direction: row;
    height: 100px;
}
nav {
    background-color: white;
}